.WorkflowStatusIndicator {
    display: flex;
    align-items: center;
}

.StepIndicator {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    gap: 12px;
    border: none;
    height: 28px;


    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.StepIndicator:hover {
    cursor: pointer;
}

.dividerComponent {
    display: flex;
    width: 4.5px;
    height: 28px;
    align-items: flex-start;
    gap: 10px;
    opacity: 1 !important;
}

.chevron {
    flex: 1 0 0;
    align-self: stretch;
}


