.StatusDropdown {
    height: 26px;
    display: inline-flex !important;
    align-items: center;
    border-radius: 20px;
    padding: 3px 8px;
}


/*display: flex;*/
/*padding: 3px 8px;*/
/*justify-content: center;*/
/*gap: 10px;*/
/*border-radius: 20px;*/
/*}*/


.StatusDropdownTriggers {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.elementIcon {
    color: white;
    margin: 0 !important;
}

.iconDiv {
    text-align: center;
}

.chevronIconDiv {
    margin-top: 2px;
    text-align: center;
}

.dropdownText {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
    margin: 0;
}

.innerDivs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDropdown {
    display: flex;
    justify-content: space-between;
}


